// Tämä tiedosto on kirjoitettu LESS:llä.
// LESS on kiva: mahdollistaa CSS-koodin generoimisen
// pienellä vaivalla. Kato www.lesscss.org

// Käytössä myös www.lesselements.com



// Varsinainen sivun käyttämä tiedosto on style.css.
// $ lessc style.less style.css


@import 'elements.less';

body {
	background: #252525;
	color: #f0e7d5;
	font-family: sans-serif;
}

header#otsa {
	padding: 1em 0 0;

	.gradient(#141414, #181818, #444);
	border-bottom: 2px solid #333;

	h1 {
		margin: 0;
		text-align: center;

		a {
			color: #e8e8e8;
			text-decoration: none;
			font-weight: normal;
			text-shadow: 2px 2px #AAA;
		}
	}

	nav ul {
		padding: 0;
		margin: 2em 0 0.5em;
		text-align: center;

		li {
			display: inline;

			a {
				padding: 0.5em 1em;

				border-style: solid;
				border-width: 1px 1px 0;
				border-color: #333;
			}
		}
	}
}

div#main {
	margin: 0 auto;
	width: 700px;
}
