<!DOCTYPE html>
<html lang="fi">
        <head>
                <meta charset="utf-8">
                <title> {% if page.title %} {{ page.title }} | {% endif %} Avoimet oppimateriaalit ry</title>
                <link rel="stylesheet" type="text/css" href="/css/style.css">

                <!--[if lt IE 9]>
                        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
                        </script>
                <![endif]-->
        </head>
        <body>

		<header>
			<h1><a href="/">Avoimet oppimateriaalit ry</a></h1>

{% include valikko.html %}

		</header>

                <div id="main">
